<header>
  <div id="header-wrapper">
    <a id="ichitabi-logo" href="../index.html">
      <h1>ICHITABI</h1>
    </a>
    <div class="header-right">
      <ul>
        <li class="header-search">
          <input type="text" id="search-top-input" placeholder="Search" />
          <button id="search-top">검색</button>
        </li>
        <li class="sign-in">
          <a href="../user/sign_in.html">로그인</a>
        </li>
        <li class="sign-up">
          <a href="../user/sign_up.html">회원가입</a>
        </li>
        <li class="log-out">
          <a href="#">로그아웃</a>
        </li>
      </ul>
    </div>
  </div>
  <gnb>
    <ul>
      <li><a href="#">여행지 추천</a></li>
      <li><p class="seperator"></p></li>
      <li><a href="#">시기별 축제</a></li>
      <li><p class="seperator"></p></li>
      <li><a href="#">일본의 지역</a></li>
    </ul>
  </gnb>
</header>
